<h2>Exercice (fr)</h2>
<p>
  Lorsque l'on quitte cette page, une erreur se produit. Refactorer le code en
  remplaçant <code>document.addEventListener</code> par <a href="https://angular.io/api/core/HostListener">HostListener</a>
</p>
<h2>Exercise (en)</h2>
<p>
  When we leave this page, an error occurs. Refactor the code to remplace
  <code>document.removeEventListener</code> by <a href="https://angular.io/api/core/HostListener">HostListener</a>
</p>
<div #box>
  <p>Click inside : {{ countClickInside }}</p>
  <p>Click outside : {{ countClickOutside }}</p>
</div>
