:host {
  display: block;
}

:host(.close) {
  background-color: yellow;
}

.selected {
  border: 1px solid var(--select-border-color, black);
  padding: 5px;
}

.menu {
  border: 1px solid var(--select-border-color, black);;
}

.item {
  padding: 5px;
}
